/*wallpaper*/

body{
    margin: 0;
    padding: 0;
    background: url("./images/wa.jpg");
    background-size: cover;
    background-position: -100px 703px;
    height: 958px;
}

.position > * {
    display: grid;
    justify-content: center;
}

/* navbar */

ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background: #8b8b8b; 
    background: linear-gradient(to bottom,  #8b8b8b 0%,#6a6a6a 50%,#6a6a6a 50%,#5e5e5e 50%,#717171 100%); 
    border-bottom: 1px solid #555555;
    overflow: hidden;
    border-radius: 4px;
    border-bottom: 1px solid #555555;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr;
}

.menu{
    position: relative;
    bottom: 11px;
}
header{
    width: 100%;
}

nav{
    margin: 20px auto;
    padding-top: 100px;
    padding-left: 25px ;
    padding-right: 25px;
    margin: 20px auto;
}

li{ 
    float: left;
    border-right:1px solid #5c5c5c; 
    border-left: 1px solid rgba(255, 255, 255,.2);
    display: grid;
    align-items: center;
}

li a{
    
    display: block;
    color: rgb(241, 240, 240);
    text-align: center;
    text-decoration: none;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 16px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0,.5);  
}

li a:hover{
    color: white;
}

.search{
    padding: 7px 10px;
    box-shadow: border-box;
    position: relative;
    display: grid;
    align-items: center;
}

.search input {
    width: 100%;
    border-radius: 11px;
    border: none;
    border-bottom: 1px solid #858585;
    padding: 25px 36px 0px 26px;
    box-sizing: border-box;
    height: 25px;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0,.7);
    cursor: text;
    background: #7e7e7e; 
    background: linear-gradient(to bottom,  #7e7e7e 0%,#797979 50%,#6a6a6a 50%,#6e6e6e 51%,#767676 100%); 
}

.mglass{
    position: absolute;
    left: 17px;
    top: 12px;
    height: 14px;
    width: 14px;
    text-decoration: none;
    fill: white;
    font-size: 3px;
}

.apple{
    height: 20px;
    position: relative;
}

/*text*/

.position{
    position: relative;
    bottom: 50px;
    
}

.title{
    text-align: center;
    font-size: 87px;
    color: white;
    cursor: pointer;
    margin-top: 100px;
    font-family: 'Assistant', sans-serif;
    font-weight: 200px;
    cursor: pointer;
}

.everyone, .unique{
    text-align: center;
    font-size: 40px;
    color: white;
    cursor: pointer;
    font-family: 'Assistant', sans-serif;
    font-weight: 200;  
    cursor: pointer
}

.pack1{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: auto auto;
}

.arrow{
    height: 32px;
    fill: white;
    margin-top: 7px;
    margin-left: 9px;
    cursor: pointer;
}

.verse{
    text-align: center;
    font-size: 30px;;
    color: white;
    cursor: pointer;
    font-family: 'Assistant', sans-serif;
    cursor: pointer
}

/*images*/

.four{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: auto auto auto auto;
    border-style: none;
    border-color: white;
    cursor: pointer;
    position: relative;
    bottom: 30px;
}

.four > * {
    width: 100%;
    background-size: 100% 100%;
    cursor: pointer;
    padding-top: 59%;
    border-top: white;
    border-width: 3px;
    border-style: solid;
    border-bottom: transparent ;
    border-right: transparent ;
    border-left: transparent ;  
}

.image1{
    background-image: url(./images/i1.jpg);
}

.image2{
    background-image: url(./images/i2.jpg);
}

.image3{
    background-image: url(./images/i3.jpg);
}

.image4{
    background-image: url(./images/i4.jpg);
}

/*footer*/

.colorw{
    background-color: white;
    padding-bottom: 26px;
    padding-top: 25px;
    padding-left: 25px;
    position: relative;
    bottom: 30px;
}

.pack2{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
}

.shop, .my, .find, .copyright{
    font-size: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(110, 110, 110);
    cursor: text;
}

.reseller{
    margin-right: 140px;
}

.store, .retail, .reseller, .privacy{
    font-size: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(0, 136, 204);
    cursor: pointer;
}

.map, .hot, .rss, .media, .environment, .job, .contact, .terms{
    font-size: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(0, 136, 204);
    cursor: pointer;
    border-right:1px solid rgb(204, 204, 204);
    padding-left: 5px;
    }

.terms{
        padding-right: 5px;
    }

.flag{
    height: 18px;
    width: 18px;
    padding-left: 5px;
    margin-right: 8px;  
}
 
